@model ProjectEMS.Models.EmployeeResponseModel

@{
    ViewData["Title"] = "EmployeesList";
}

<h1>Details</h1>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Fname)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Fname)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Lname)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Lname)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.City)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.City)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Department)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Department)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Role)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Role)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MobileNo)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MobileNo)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.JoiningDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.JoiningDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Status)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Status)
    </dd>

</dl>




